
#gameScore{
    font-size: 1.0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#resetButton{
    width: 20%;
    font-size: 1.0rem;
}
table{
    border-radius: 10px;
    border: 7px solid darkgray;
}
td{
    width: 150px;
    height: 30px;
}
#hgs{
    font-size:0.8rem;
    text-align: center;
    margin-left: 50px;
}