#gameScore {
    font-size: 1.0rem;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#resetButton {
    width: 20%;
    height: 25px;
    font-size: 1.0rem;
}

table {
    border-radius: 10px;
    border: 7px solid darkgray;
}

td {
    width: 150px;
    height: 30px;
}

#hgs {
    text-align: center;
    color: black;
    width: 100%;
    border-radius: 5px;
    font-size: 1.7rem;
    height: 20%;
}

#intro {
    font-size: 20px;
}