body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    overflow: hidden;
}

table {
    margin: auto;
    margin-top: 6%;
    background-color: gainsboro;
    border-radius: 12px;
    border: 10px solid darkgray;
}

td {
    width: 45px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    border-color: lightskyblue;
}

#resultDisplay {
    display: none;
    text-align: center;
}

#start {
    color: white;
    margin-left: 12px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

#resetButton {
    float: right;
    background-color: palevioletred;
    border: none;
    border-radius: 5px;
    height: 23px;
    cursor: pointer;
    color: white;
}

#restartButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 23px;
    color: white;
    background-color: rgba(68, 201, 225, 0.95);
}

#intro {
    color: lightcoral;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}

#hgs {
    text-align: center;
    color: black;
    border-radius: 5px;
    width: 100%;
    font-size: 1.7rem;
    height: 20%;
}

#gameScore {
    text-align: center;
    color: black;
    border-radius: 5px;
    font-size: 1.7rem;
    height: 20%;
}

#music {
    background-color: darksalmon;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 23px;
}

/* modal */
.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20%;
}

.modal-content {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 15px;
}

.close-modal {
    float: right;
    margin-right: -2rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-hidden {
    display: none;
}

.replay,
.quit {
    background-color: red;
    border-radius: 2px;
    color: white;
    border: 1px solid rgb(241, 107, 5);
    cursor: pointer;
}

@media only screen and (max-width: 320px) {

    .modal {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 30%;
    }

    .head {
        font-size: 15px;
    }

    #intro {
        font-size: 15px;
    }
}